version: "3"

services:

  ckan-nhs:
    container_name: ckan-nhs
    build:
      context: ckan/
      dockerfile: Dockerfile.dev.nhs
    env_file:
      - .env.nhs      
    links:
      - db-nhs
      - solr-nhs
      - redis-nhs
      #- giftless-nhs
    networks:
      default:
        aliases:
          - ckan.local.com
    ports:
      - "5000:5000"
    volumes:
      - ckan_storage_nhs:/var/lib/ckan-nhs
      - ./src:/srv/app/src_extensions
      # debug extensions
      - /home/higor/Documents/Datopian/Projects/extensions/nhs:/srv/app/src_extensions/ckanext-nhs
      - /home/higor/Documents/Datopian/Projects/extensions/nhs-dataexplorer:/srv/app/src_extensions/ckanext-dataexplorer
      - /home/higor/Documents/Datopian/Projects/extensions/ckanext-datastore-bigquery:/srv/app/src_extensions/ckanext-datastore-bigquery
      #- /home/higor/Documents/Datopian/Projects/extensions/ckanext-datapub:/srv/app/src_extensions/ckanext-datapub

  db-nhs:
    container_name: db-nhs
    env_file:
      - .env.nhs
    build:
      context: postgresql/
    volumes:
      - pg_data_nhs:/var/lib/postgresql/data

  solr-nhs:
    container_name: solr-nhs
    build:
      context: solr/
    volumes:
      - solr_data_nhs:/opt/solr/server/solr/ckan/data/index

  redis-nhs:
    container_name: redis-nhs
    image: redis:alpine

  #giftless-nhs:
  #  container_name: giftless-nhs
  #  build:
  #    context: giftless/

volumes:
  ckan_storage_nhs:
  pg_data_nhs:
  solr_data_nhs: